body{
    background-color: blue;
    font-family: Fira Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    
}

html
{
  position:fixed;
  width:100%;
  height:100%;
}

a{
    cursor: pointer !important;
    text-decoration: none;
    color: currentColor;
}

.container{
    display:grid;

    
    grid-template-areas: 
    "header header header"
    "article section article"
    
    ;
    height: 100vh;
}

article {
    margin-top: 7vh;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    gap:7vh;
    grid-area: article;
    justify-content: center;
    height: 100vh;
    color:#552;
    opacity: 0.2;
    
    
}


nav{
    display:flex;
    flex-direction: row;
    grid-area: header;
    text-decoration: none;
    list-style: none;
    justify-content: end;
    gap: 20px;
    font-size: 25px;
    color: rgba(242,244,255,.95);
}

nav a li{
    cursor: pointer !important;
    color: rgba(242,244,255,.95);
}

:hover.navb{
    border-bottom: 2px solid rgba(242,244,255,.95); ;
}


section {
    grid-area:section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 1;
    color: rgba(242,244,255,.95);
    
}



.a-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    width: 100%;
    color: blue;
    gap: 15px;
    opacity: 0.9;
    flex-wrap: wrap;

}

.a-area a{
    display: flex;
    width: 300px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgba(242,244,255,.95);
    opacity: 1;
}


:hover.secb{
    border: 3px outset grey ;

}

.flex{
    flex: 1;
}

@media(max-width:632px){
    
    body{
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    section {
        grid-area:section;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;

        opacity: 1;
        color: rgba(242,244,255,.95);
        height: 100%;
        
    }
    
    
    
    .a-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        color: blue;
        gap: 15px;
        opacity: 0.9;
        flex-wrap: wrap;
        height: 20vh;
    }

    


    nav{
        justify-content: center;
        gap: 7px;
        font-size: 18px;
    }
}
